# admin frontend
school-companion-admin/node_modules/
school-companion-admin/.cache/
school-companion-admin/public

# student frontend
school-companion-student/node_modules/
school-companion-student/.cache/
school-companion-student/public

# backend
school-companion-backend/node_modules
school-companion-backend/config
